<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Hashtag Battles</title>
        <meta name="description" content="Popularity comparison of hashtags">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="/static/reset.css">
        <link rel="stylesheet" href="/static/normalize.css">
        <link rel="stylesheet" href="/static/main.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script src="/static/js/socket.io.js"></script>
    </head>
    <body>
        <div class=container>
            <header class=main-header>
                <h1>Hashtag Battles</h1>
                <div class=add-battle>+</div>
            </header>
            <form id=create-battle-form>
                <label for=left-hashtag>First Hashtag: <input id=left-hashtag type=text name=left-hashtag /></label>
                <label for=right-hashtag>Second Hashtag: <input id=right-hashtag type=text name=right-hashtag /></label>
                <div class=submit-bar><input id=submit-create-battle type=submit value="Create Battle" /></div>
            </form>
            <section class=messages>
            </section>
            <section class=battles>
            </section>
        </div>
        <script src="/static/main.js"></script>
    </body>
</html>
